body {
  --toastify-color-success: #01579b;

  --toastify-icon-color-success: var(--toastify-color-success);

  --toastify-text-color-success: #fff;

  --toastify-color-progress-success: var(--toastify-color-success);
}
